:root {
  --btn-color: #7d7d7d;
  --btn-action-color: #646464;
  --btn-operator-color: #ff9f0a;
  --display-bg: #535353;
  --text-color: #e9e9e9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
  font-weight: 500;
  color: var(--text-color);
  font-size: 32px;
}

button {
  border: 1px solid #535353;
  border-radius: 0;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 200px auto;
  width: 320px;
  border-radius: 16px;
  overflow: hidden;

  box-shadow: 5px 10px 25px 2px rgb(97, 97, 97);
}

.calculator__display {
  background: var(--display-bg);
  width: 100%;
  text-align: right;
  padding: 10px;
  padding-top: 50px;

  border: 0;
  border-radius: 16px 16px 0 0;
}

.calculator__btns {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: repeat(5, 65px);
}

.btn {
  background: var(--btn-color);
  transition: 0.1s;

  outline: none;
}

.btn--operator {
  background: var(--btn-operator-color);
  transition: 0.1s;
}

.btn--action {
  background: var(--btn-action-color);
  font-size: 28px;
  transition: 0.1s;
}

[data-action="equal"] {
  border-radius: 0 0 16px 0;
  border: 1px solid #535353;
}

[data-number="0"] {
  border-radius: 0 0 0 16px;
  border: 1px solid #535353;
  grid-column: span 2;
}
.btn:hover {
  background: #7a7a7a;
}
.btn--operator:hover {
  background: #ffac5d;
}
